.App {
  text-align: center;
  background-color: #FFFFFF;
}

.App-header {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-left: 2vh;
  padding-top: 2vh;
  padding-bottom: 10vh;
}

.App-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 10vh;
}

.App-link {
  color: #61dafb;
}

.App-footer{
  margin-top: 1rem;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
